<div class="widget">
	<h4>Welcome</h4>
	<span class="intro">Welcome to Jem&apos;s Yarns. Please note I use UK crochet terms throughout, so there are no &apos;single crochets&apos; here! <a href="http://www.simplycrochetmag.co.uk/2013/07/04/uk-and-us-crochet-conversion-chart/">See this link for conversions in US terms</a>.</span>
</div>
